@use 'App';

.navbar {
  display: flex;
  width: 100vw;
}
.navbar-light {
  background-color: App.$font-color;
  .navbar-nav {
    .nav-link {
      color: App.$primary-color !important;
    }
  }
  .navbar-brand {
    padding: 0.5rem;
    color: App.$secondary-color;
  }
}
